#include <winver.h>

1 24 "qd-tun.manifest"
1 ICON "qd-tun.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0x0L
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "QuicDiver"
      VALUE "FileDescription", "QuicDiver"
      VALUE "FileVersion", "1.0.0.0"
      VALUE "InternalName", "qd-tun"
      VALUE "LegalCopyright", "QuicDiver"
      VALUE "OriginalFilename", "qd-tun.exe"
      VALUE "ProductName", "QuicDiver"
      VALUE "ProductVersion", "1.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
